
<style>

</style>
{% for message in messages %}
<p class="solid">Message: {{ message.message_text }}</p>
<a href="{% url 'instagram:reply' message.id %}"><button>Reply</button></a>
<a href="{% url 'instagram:msgreact' message.id %}"><button>React</button></a>
{% for reaction in message.reaction.all %}
<p class="solid">Reaction: {{ reaction.text }}</p>
<a href=><button>React</button></a>
{% endfor %}


 <ul>
    {% with replies=message.reply_set.all %}
    {% for reply in replies %}
      <p class="solid">Reply: {{ reply.reply_text }}</p>
      <a href=><button>React</button></a>
    {% endfor %}
  </ul>
  {% endwith %}
{% endfor %}


<form action="{% url 'instagram:send' conversation_id.id %}" method="post">
  {% csrf_token %}
  <textarea name="message" rows="10" cols="30"></textarea>
  <select name="tag" id="tag">
    <option value="" >Choose here</option>
    {% for users in conversation_id.member.all %}
    <option value={{users}} >{{users}}</option>
    {% endfor %}
  </select>
  <br><br>
  <input type="submit" value ="send">
</form>

<p><a href="{% url 'instagram:homepage' %}"> Back to Main Page</a></p>